.footer
  background-color: $dark
  padding-top: 108px
  padding-bottom: 46px
  color: $light
  &__wrapper
    &-top
      display: grid
      grid-template-columns: minmax(0, 286px) minmax(0, 286px) minmax(0, 345px) minmax(195px, 1fr)
      grid-template-rows: 1fr minmax(23px, min-content)
  &__logo
    grid-row: span 2
    align-self: center
  &__list
    grid-row: span 2
    &_span-1
      grid-row: span 1
  &__social
    grid-row: span 1
    grid-column: span 2
    order: 1
    display: flex
    margin-top: 15px
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0
    margin-bottom: 18px
    text-transform: uppercase
    &_m0
      margin: 0
  &__icons
    display: flex
    justify-content: space-between
    margin-left: 43px
    &>img
      margin-right: 11px
      width: 20px
      height: 20px
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__item
    color: #BDBDBD
    font-weight: normal
    font-size: 14px
    line-height: 160%
  &__link
    color: inherit
    text-decoration: none
