.packages
  background: #F5FAFE
  padding: 40px 0 70px
  &__title
    margin: 0
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-bottom: 65px
  &__wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat (2, 1fr )
    justify-items: stretch
    grid-gap: 30px
  &-card
    &-main
      display: flex
      justify-content: space-between
      align-items: center
      min-height: 500px
      max-height: 500px
      max-width: 730px
      position: relative
      border-radius: 8px
      overflow: hidden
      grid-column: span 2
      &__photo
        flex-basis: 50%
        height: 100%
      &__img
        object-fit: cover
        width: 100%
        height: 100%
      &__label
        position: absolute
        top: 26px
        left: 0
        color: $light
        font-weight: 600
        font-size: 12px
        line-height: 15px
        padding: 8px 20px 8px 11px
        background-color: $primary
        border-radius: 0px 4px 4px 0px

      &__wrapper
        background-color: $dark
        color: $light
        padding: 47px 21px 30px 43px
        flex-basis: 50%
        height: 100%
      &__stars
        margin-bottom: 6px
      &__title
        margin: 0
        font-weight: bold
        font-size: 18px
        line-height: 23px
        margin-bottom: 27px
      &__description
        margin: 0
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160.6%
        max-width: 299px
        margin-bottom: 44px
      &-person-room
        display: flex
        flex-direction: column
        margin-bottom: 58px
        &__adress
          margin-bottom: 11px
          display: flex
          align-items: center
          padding-left: 2px
        &__guests
          margin-bottom: 11px
          display: flex
          align-items: center
          padding-left: 2px
        &__room
          display: flex
          align-items: center
          padding-left: 2px
        &__text
          margin-left: 17px
          font-weight: normal
          font-size: 12px
          line-height: 15px
      &-price
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 30px
        &__price-new
          position: relative
          font-weight: bold
          font-size: 24px
          line-height: 30px
          padding-left: 2px
        &__price-old
          position: absolute
          top: -25px
          left: 2px
          font-weight: normal
          font-size: 14px
          line-height: 18px
          text-decoration-line: line-through
      &__button
        border: none
        padding: 11px 27px
        color: inherit
        background-color: $primary
        border-radius: 4px
        font-weight: 600
        font-size: 14px
        line-height: 19px
    &-secondary
      display: flex
      flex-direction: column
      justify-content: space-between
      min-height: 500px
      max-height: 500px
      position: relative
      border-radius: 8px
      overflow: hidden
      &__photo
        width: 100%
        min-height: 250px
      &__img
        width: 100%
        height: 100%
        object-fit: cover
      &__label
        position: absolute
        top: 26px
        left: 0
        color: $light
        font-weight: 600
        font-size: 8px
        line-height: 10px
        padding: 4px 9px
        background-color: $primary
        border-radius: 0px 4px 4px 0px
      &__wrapper
        background-color: $dark
        color: $light
        padding: 30px 21px 25px 32px
        flex-basis: 100%
        width: 100%
      &__stars
        display: none
        margin-bottom: 6px
      &__title
        margin: 0
        font-weight: bold
        font-size: 18px
        line-height: 23px
        margin-bottom: 23px
      &__description
        display: none
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160.6%
        max-width: 299px
        margin-bottom: 44px
      &-person-room
        display: flex
        flex-direction: column
        margin-bottom: 45px
        &__adress
          margin-bottom: 11px
          display: flex
          align-items: center
          padding-left: 2px
        &__guests
          margin-bottom: 11px
          display: flex
          align-items: center
          padding-left: 2px
        &__room
          display: flex
          align-items: center
          padding-left: 2px
        &__text
          margin-left: 17px
          font-weight: normal
          font-size: 12px
          line-height: 15px
      &-price
        display: flex
        justify-content: space-between
        align-items: center
        &__price-new
          position: relative
          font-weight: bold
          font-size: 24px
          line-height: 30px
          padding-left: 2px
        &__price-old
          position: absolute
          top: -25px
          left: 2px
          font-weight: normal
          font-size: 14px
          line-height: 18px
          text-decoration-line: line-through
      &__button
        border: none
        padding: 11px 27px
        color: inherit
        background-color: $primary
        border-radius: 4px
        font-weight: 600
        font-size: 14px
        line-height: 19px
.home-link
  color: #fff
  text-decoration: none
  flex-basis: 100%
  margin-top: 20px
  &__button
    display: block
.hotel-info__subscribe
  flex-wrap: wrap
